.sport-nav-block {
  width: 100%;

  padding: 1.5rem;
  background: #181c16 url("../../public/images/bg-header.png");
}

nav {
  display: block;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sport-nav a {
  display: block;
  background: tra;
  color: white;
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}
.sport-nav ul li a {
  background-color: #838383;
  margin-bottom: 1px;
  color: white;
}
.sport-nav {
  vertical-align: top;
  display: inline-block;
  /* box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff; */
  border-radius: 6px;
}
.sport-nav li {
  position: relative;
}
.sport-nav > li {
  float: left;
  /* border-bottom: 4px #aaa solid; */
  margin-right: 1px;
}
.sport-nav > li > a {
  margin-bottom: 1px;
  /* box-shadow: inset 0 2em 0.33em -0.5em #555; */
}
.sport-nav > li:hover,
.sport-nav > li:hover > a {
  border-bottom-color: orange;
}
.sport-nav li:hover > a {
  color: orange;
}
.sport-nav > li:first-child {
  border-radius: 4px 0 0 4px;
}
.sport-nav > li:first-child > a {
  border-radius: 4px 0 0 0;
}
.sport-nav > li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}
.sport-nav > li:last-child > a {
  border-radius: 0 4px 0 0;
}
.sport-nav li li a {
  margin-top: 1px;
}

.sport-nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}

/* submenu positioning*/
.sport-nav ul {
  position: absolute;
  white-space: nowrap;
  /* border-bottom: 5px solid orange; */
  z-index: 1;
  left: -99999em;
}
.sport-nav > li:hover > ul {
  left: auto;
  /* margin-top: 5px; */
  min-width: 100%;
}
.sport-nav > li li:hover > ul {
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
/* arrow hover styling */
.sport-nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.sport-nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: orange;
  margin-top: -5px;
}
.sport-nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px;
}
.sport-nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: orange;
  right: 10px;
}

.sport-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #efefef;
}
.sport {
  margin-top: 1rem;
  max-width: 1400px;
  width: 100%;
}

.league-header {
  border-radius: 6px;
  border-top: 6px solid #323685;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 2px 2px rgba(185, 192, 210, 0.2);
  box-shadow: 0px 2px 2px rgba(185, 192, 210, 0.2);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 12px;
  clear: both;
  position: relative;
}

.wrap-block-league {
  padding: 0.5px 24px;
  min-height: 64px;
  display: flex;
  align-items: center;
  width: auto;
}

.sport-icon {
  width: 48px;
  height: 48px;
}

.league-name {
  font-weight: bolder;
  margin-left: 1rem;
}

.league-header .button-link {
  min-width: 96px;
  text-align: center;
  background: #fffffe;
  border: 0.5px solid #aeb4c4;
  border-radius: 6px;
  display: block;
  color: #38404d;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding: 8.5px 20px;
  margin: 0 12px 0 0;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.league-header .button-link:hover {
  background: #f2f3f5;
}

.league-header .button-link-active {
  min-width: 96px;
  text-align: center;
  background: #59c541;
  border: 0.5px solid #aeb4c4;
  border-radius: 6px;
  display: block;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding: 8.5px 20px;
  margin: 0 12px 0 0;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.league-header .wrap-button {
  display: flex;
  right: 1rem;
  margin-left: auto;
  margin-right: 0;
}

.league-header-item {
  display: flex;
  width: 100%;
  height: 48px;
  background: #393f36;
  float: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 6px;
  padding: 4px 4px 4px 12px;
  margin-bottom: 24px;
  color: #fff;
}

.schedule {
  padding: 12px;
  width: 33.3%;
}

.schedule-league {
  padding: 12px;
  width: 50%;
}

.schedule-results {
  padding: 12px;
  width: 33.3%;
}

.schedule-results-league {
  padding: 12px;
  width: 50%;
}

.schedule-point {
  padding: 12px;
  width: 33.3%;
}

.header-content-block {
  width: 100%;
  height: 48px;
  background: #393f36;
  float: left;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 6px;
  padding: 4px 4px 4px 12px;
  margin-bottom: 24px;
  color: #fff;
  display: flex;
}

.header-content-block-point {
  width: 100%;
  height: 48px;
  background: #393f36;
  border-radius: 6px;
  padding: 12px 4px 4px 12px;
  margin-bottom: 24px;
  color: #fff;
  align-items: center !important;
  text-align: center;
}

.league-subhead {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.league-subhead .subhead-title {
  margin-left: 1rem;
}

.subhead-menu {
  display: flex;
  height: 40px;
  position: relative;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.3);
  border: 0.5px solid #3e506d;
  border-radius: 6px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-right: 0.5px solid #3e506d;
}

.btn-league {
  width: 32px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  cursor: pointer;
}
.btn-league:hover {
  background: #687c9b;
  border-top: 0.5px solid #3e506d;
  border-bottom: 0.5px solid #3e506d;
}
.btn-prev {
  border-right: 0.5px solid #3e506d;
}
.btn-next {
  border-left: 0.5px solid #3e506d;
}

.round-item {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

.league-match-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #fff;
  min-height: 40px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  padding: 5px 0;
  position: relative;
  margin-bottom: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
}
.league-match-item:hover {
  background: #f2f2f3;
}

.time-left {
  font-size: 14px;
  position: absolute;
  left: 1rem;
}
.team-item {
  display: flex;
}
.team-1 {
  width: calc(50% - 34px);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 0.5rem;
}
.team-2 {
  width: calc(50% - 34px);
  margin-left: 0.5rem;
}
.score {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.halfscore {
  font-size: 12px;
  font-weight: normal;
  color: gray;
}

.schedule-list-match {
  border-top: 6px solid #323685;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 2px 2px rgba(185, 192, 210, 0.2);
  border-radius: 6px;
  margin-bottom: 12px;
  clear: both;
}
.schedule-list-match .schedule-list-match-item {
}

.schedule-list-match .schedule-list-match-item-start {
  width: 100%;
  height: 48px;
  background: #393f36;
  align-items: center;
  border-radius: 6px;
  padding: 4px 4px 4px 12px;
  color: #fff;
  border-radius: 6px 6px 0 0;
  padding-left: 24px;
  display: flex;
  font-weight: 600;
  font-size: 15px;
}

.schedule-list-match .schedule-list-match-item-body {
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 0px 0px 6px 6px;
}

.match-detail-stat-tab-standing {
  margin-top: 24px;
  width: 100%;
}

.match-detail-stat-tab-standing table {
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  border-collapse: inherit;
  overflow: hidden;
}

.match-detail-stat-tab-standing thead {
  background: #fafafa;
}

.match-detail-stat-tab-standing th {
  min-width: 90px;
  font-weight: 600;
  padding: 9px 10px;
}

.tr-match-detail-stat-tab-standing td {
  width: 50px;
  min-width: 50px;
}

.tr-match-detail-stat-tab-standing td {
  border-top: 1px solid #c7c7c7;
  font-size: 14px;
  line-height: 21px;
  color: #38404d;
  padding: 9px 10px;
  text-align: center;
}

.match-detail-stat-tab-standing-stt {
  min-width: 40px !important;
  width: 40px !important;
}

.match-detail-stat-tab-standing-name {
  min-width: 250px !important;
  width: 250px !important;
  text-align: left !important;
}

.match-detail-stat-tab-standing-pd {
  width: 200px !important;
}

@media only screen and (max-width: 896px) {
  .league-header {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.time-header {
  padding: 2rem;
  font-size: large;
  color: #838383;
  margin-bottom: 1rem;
}
.league-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.league-result .match-item {
  width: 80%;
  margin-top: 1rem;
}
